// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==============================
//  POST#INDEX STYLES
// ==============================
#posts-wrapper {
  margin-left: 250px;
  .post-title {
    background-color: $primary-color;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
  }
}