// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==============================
//  POST#INDEX STYLES
// ==============================
#posts-wrapper {
  padding: 60px 0;
  margin: 0;
  .post {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    span.title {
      display: block;
      font-size: 18px;
      a {
        color: $primary-text-color;
        text-decoration: none;
        &:hover {
          color: $secondary-text-color;
        }
      }
    }
    span.timestamp {
      display: block;
      @extend .text-muted;
      font-size: 12px;
    }
  }
}

// ==============================
//  POST#NEW STYLES
// ==============================
#new-post-wrapper {
  padding: 60px 0;
  margin: 0;
  .btn-accent {
    @extend .btn;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    @include shadow(2);
    color: $primary-color-text;
    &:hover, &:active, &:focus {
      color: $primary-color-text;
    }
  }
}

// ==============================
//  POST#EDIT STYLES
// ==============================
#edit-post-wrapper {
  padding: 60px 0;
  margin: 0;
  .btn-accent {
    @extend .btn;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    @include shadow(2);
    color: $primary-color-text;
    &:hover, &:active, &:focus {
      color: $primary-color-text;
    }
  }
}

// ==============================
//  POST#SHOW STYLES
// ==============================
#post-wrapper {
  padding: 60px 0;
  margin: 0;
}

#comments-wrapper {
  padding: 60px 0;
  margin: 0;
  h2 {
      display: inline-block;
    }
  #new_comment {
    display: none;
  }
  .comments {
    .comment {
      display: block;
      &:first-child {
        padding-top: 20px;
      }
      span.content {
        display: block;
      }
    }
  }
}