<%# add navigation links to this file %>
<li class="sidebar-brand">
  <%= link_to 'MyBlog', root_url %>
</li>
<li><%= link_to 'About Me' %></li>
<li><%= link_to 'Contact Me' %></li>
<% if admin_signed_in? %>
  <hr>
  <li><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>
<% end %>
